# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.sln	eol=crlf
*.cs	eol=crlf
*.bat	eol=crlf
*.txt	eol=crlf
*.csproj	eol=crlf