<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cs1" connectionString="Some Connection String 1"  />
    <add name="cs2" connectionString="Some Connection String 2"  />
  </connectionStrings>
  <appSettings>
    <add key="as1" value="Some App Settings value 1" />
    <add key="as2" value="8573842a-769c-4302-a85d-88d141fab3e5" />
  </appSettings>
</configuration>